Q1:How do you comment code in Python? What are the different types of comments?

Ans: We can add comment code in python by adding '#' character before starting of the code.
There are two types of comments:
1.Single Line Comment-include # character before starting of the code
2.Multi Line Comment- include ''' characters before and after starting of the code

Q2:What are variables in Python? How do you declare and assign values to variables?

Ans:The Vaiables in python are used to store a value that is goin to be use in our code.
The python is smart enough to understand the data type of the variable automatically. Suppose we are going to declare a variable like 'a=6'. The python automatically finds the data type of this variable as int type. Here 'a' is used as a variable and '=' is used as assignment operator to assingn a value '6' to the variable 'a'.

Q3:How do you convert one data type to another in Python?

Ans:We can convert one data type to another in python through typecasting.
a. Conversion of int to string:
    an integer (6) can be converted into string as-
    write a=str(6) and run code output will be a='6'
b. Conversion of string('5') into integer as-
    a= int('5') and run code output will be a=5

Q4: How do you write and execute a Python script from the command line?

Ans: To execute a python script just open a command-line or terminal and then type in python, or python3 depending on your Python installation, and then hit Enter.
Then you can write the code and press Enter to execute that code.

Q5:Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6:What is a complex number in mathematics, and how is it represented in Python?

Ans: A number in the form of x+iy is known as complex mumber where x,y are real numbers and i represents the imaginary part called as iota.
In Python complex number is represented as x+yj.

In [4]:
a=6+3j

print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
6.0
3.0

Q7:What is the correct way to declare a variable named age and assign the value 25 to it?

In [5]:
age=25

print(age)

25

Q8:Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Ans: price variable is having float as a data type

In [6]:
price= 9.99

print(price)
print(type(price))

9.99
<class 'float'>

Q9:Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [7]:
name='Omkar Nath Sharma'

print(name)

Omkar Nath Sharma

Q10:Given the string "Hello, World!", extract the substring "World".

In [9]:
s="Hello, World!"
s[7:12]

'World'

Q11.Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [10]:
is_student=True

is_student

True